Repository rambler-digital-solutions/magic-transport: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"]
}

Deploying to gh-pages from @ rambler-digital-solutions/magic-transport@4e3482dc18ff56ebd5657324016b883175323c30 🚀
  .nojekyll
  assets/custom.css
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  classes/Consumer.html
  classes/Provider.html
  classes/Transport.html
  hierarchy.html
  index.html
  interfaces/TransportOptions.html
  modules.html
  types/ConsumerOptions.html
  types/ProviderOptions.html
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  4e3482dc18ff56ebd5657324016b883175323c30
Due: none

Deploying to gh-pages from @ rambler-digital-solutions/magic-transport@4e3482dc18ff56ebd5657324016b883175323c30 🚀
  classes/Consumer.html
  classes/Provider.html
  classes/Transport.html
  hierarchy.html
  index.html
  interfaces/TransportOptions.html
  modules.html
  types/ConsumerOptions.html
  types/ProviderOptions.html
Due: none

chore: clean unused deps
  package.json
  yarn.lock
Due: prettier --write

Deploying to gh-pages from @ rambler-digital-solutions/magic-transport@83ba372f1f78994a748975c5104634c9c3a1c204 🚀
  classes/Consumer.html
  classes/Provider.html
  classes/Transport.html
  hierarchy.html
  index.html
  interfaces/TransportOptions.html
  modules.html
  types/ConsumerOptions.html
  types/ProviderOptions.html
Due: none

fix: fix promisify type
  src/types/index.ts
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ rambler-digital-solutions/magic-transport@4aba261539de19d04a1f81a9123b3d33c8acc432 🚀
  classes/Consumer.html
  classes/Provider.html
  classes/Transport.html
  hierarchy.html
  index.html
  interfaces/TransportOptions.html
  modules.html
  types/ConsumerOptions.html
  types/ProviderOptions.html
Due: none

Notes added by 'git notes add'
  4aba261539de19d04a1f81a9123b3d33c8acc432
Due: none

fix: add missed sideEffects
  package.json
Due: prettier --write

Deploying to gh-pages from @ rambler-digital-solutions/magic-transport@5209a354fff95f8e647c5f846bfc11fc6455e5d7 🚀
  classes/Consumer.html
  classes/Provider.html
  classes/Transport.html
  hierarchy.html
  index.html
  interfaces/TransportOptions.html
  modules.html
  types/ConsumerOptions.html
  types/ProviderOptions.html
Due: none

Notes added by 'git notes add'
  5209a354fff95f8e647c5f846bfc11fc6455e5d7
Due: none

chore: update size limits
  .size-limit.json
Due: prettier --write

Deploying to gh-pages from @ rambler-digital-solutions/magic-transport@2578e8073ad5d836f2248ce3ba655896faea3f07 🚀
  classes/Consumer.html
  classes/Provider.html
  classes/Transport.html
  hierarchy.html
  index.html
  interfaces/TransportOptions.html
  modules.html
  types/ConsumerOptions.html
  types/ProviderOptions.html
Due: none
